# Python cache
__pycache__/
*.pyc
*.pyo

# Virtual environments
.venv/
env/
venv/

# Node.js
node_modules/
npm-debug.log
yarn-error.log

# DVC cache & temp
.dvc/cache/
.dvc/tmp/

# Git
.git
.gitignore

# Data artifacts (biar image ringan, dataset jangan ikut masuk)
*.csv
*.tsv
*.parquet

# Training outputs
*.pkl
*.h5
