# Git
.git
.gitignore

# DVC cache & lock
.dvc/cache
.dvc/tmp
*.dvc.lock

# Dataset lokal (biar nggak kebawa ke image)
*.csv
*.tsv
*.parquet
*.jsonl
data/
datasets/
raw_data/

# Python env
__pycache__/
*.pyc
*.pyo
*.pyd
*.pkl
*.joblib

# Virtual environments
.venv
venv/
env/
*.egg-info
.eggs

# OS junk
.DS_Store
Thumbs.db
